/* CSS Document */
/*
* 前缀用于 IE6 IE7
\9 后缀用于IE
*/
body{
	margin:0 auto;
	padding:0;
	font:14px "Microsoft Yahei",Arial,sans-serif;
	color:#515151;
	background-color: #fff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
	margin:0;
	padding:0;
}
fieldset, img{
	border:0px;
}
a:link,a:visited{
	font:14px "Microsoft YaHei";
	color:#515151;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	font:14px "Microsoft YaHei";
	color:#515151;
}
img{
	vertical-align:middle;
	*vertical-align: auto;
}

.disable-event {
	pointer-events: none;/* css3 */
}

.hidden {
	display:none;
}
.cursor-pointer {
	cursor: pointer;
}

/* home page */
#user-icon {
	float: right;
	display: inline;
	position:relative;
	top:2px;
	left: -5px;
}
.ui-tabs .ui-tabs-panel {
	font-size: 0.9em;
}

.info-tips {
	padding: 0.3em;
}
.info-tips .ui-icon {
	float: left; margin-right: .3em; margin-top: .2em;
}

/* list page  ../images/common/maincontainer_bg.png*/
.maincontainer {
	background-image: url(../images/common/maincontainer_bg.png);
	background-position: 0 0;
	background-repeat: repeat-y;
	border:1px solid #dedede;
	display: table;
}
#appcontainer {
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}
#container1 {
	float: left;
	width: 250px;
	background-color:#f6f6f6;
	border-right:1px solid #dedede;
}
#container-right {
	float: left;
	width: 760px;
	background-color:#fafafa;
}
#container2 {
	float: left;
	width: 760px;
	background-color:#fafafa;
}
.fw1icon {
	text-align: left;
	height: 60px;
	line-height: 60px !important;
	vertical-align: middle;
	background-position: 30px;
	background-repeat: no-repeat;
	padding-left: 90px;
	border-bottom:1px solid #dedede;
}
.fw1icon-active {
	background: url(../images/common/icon_active.png) repeat-x;
}
.fw1icon-g {
	background-image: url(../images/common/icon_1.png);
}
.fw1icon-ie {
	background-image: url(../images/common/icon_2.png);
}
.fw1icon-ig {
	background-image: url(../images/common/icon_3.png);
}
.fw1icon-le {
	background-image: url(../images/common/icon_4.png);
}
.fw1icon-lg {
	background-image: url(../images/common/icon_5.png);
}
.fw1icon-k {
	background-image: url(../images/common/icon_6.png);
}
.fw1icon-m {
	background-image: url(../images/common/icon_7.png);
}
.fw1icon-kc {
	background-image: url(../images/common/icon_8.png);
}
.fw1icon-r {
	background-image: url(../images/common/icon_9.png);
}
.fw1icon-s {
	background-image: url(../images/common/icon_s.png);
}
.fw1icon-t {
	background-image: url(../images/common/icon_t.png);
}
.fw1icon-v {
	background-image: url(../images/common/icon_11.png);
}
.fw1icon-j {
	background-image: url(../images/common/icon_j.png);
}

.item-list>li {
	list-style: none;
	display: table-cell;
	float: left;
	width: 190px;
	border-bottom:1px solid #dedede;
	background-position: 15px;
	background-repeat: no-repeat;
}
.li-item-active>span {
	color: #56af1c;
}
.item-list .item-query {
	background-image: url(../images/common/icon_cx.png);
}
.item-list .item-edit {
	background-image: url(../images/common/icon_bl.png);
}
.item-list>li>span {
	display: table-cell;
	vertical-align: middle;
	width:130px;
	height: 86px;
	padding-left: 60px;
	text-align: left;
	padding-right: 5px;
}
/* container */
#container {
	float: left;
	padding: 20px;
	width: 720px;
}

table.bordered th {
	text-align: right;
	padding-right: 5px;
	font-size: 1.1em;
}

table.bordered td {
	text-align: left;
	padding-top:3px;
	padding-bottom:3px;
	height: 40px;
	vertical-align: middle;
}
/* form */
.grid-caption {
	color: #56af1c;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	height: 45px;
	line-height: 45px !important;
	background: url(../images/common/icon_caption.png) left center no-repeat;
	text-align: left;
	border-bottom: 1px solid #c6c6c6;
}

.tip-caption {
	color: red;
	font-size: small;
	padding-left: 15px;
	height: 45px;
	line-height: 45px !important;
	text-align: left;
}

table.bordered {
	width: 690px;
	margin: 5px 0 5px 0;
}
.ui-tabs-panel table.bordered {
	width: 650px;
}
table.bordered input, table.bordered select, table.bordered textarea {
	width: 200px;
	height:29px;
	border: 1px solid #c6c6c6;
	background-color:#ffffff;
	color: #515151;
	font-family: "Microsoft Yahei",Arial,sans-serif;
	font-size: 1.1em;
}

table.bordered input[readonly] {
	background-color: transparent;
	padding-left: 5px;
}

table.bordered .long-input {
	width: 547px;
}

table.bordered .auto-area {
	width: 547px;
	height: 40px;
}

.ui-tabs-panel table.bordered .long-input {
	width: 522px;
}
table.bordered th.long-label {
	width:200px;
}
table.bordered input.short-input {
	width:130px;
}
table.bordered input.middle-input {
	width:476px;
}

/* container */

#headerbg{
	background: url(../images/common/index_header_bg.png) repeat-x;
}
.top-button {
	background-position: top center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	text-align: center;
}
#tb1{
	background-image: url(../images/common/index_header_sy.png);
}
#loginbutton{
	background-image: url(../images/common/index_header_yhqr.png);
}
#loginbutton:hover {
	background-image: url(../images/common/index_header_yhqr_hover.png);
}
#loginbutton.active{
	background-image: url(../images/common/index_header_zx.png);
}
#loginbutton.active:hover {
	background-image: url(../images/common/index_header_zx_hover.png);
}
.successmsg {
	color: "#729e02";
}
#tb3{
	background-image: url(../images/common/index_header_dl.png);
	width: 60px;
}
#tb1:hover {
	background-image: url(../images/common/index_header_sy_hover.png);
}
#tb3:hover {
	background-image: url(../images/common/index_header_dl_hover.png);
}
.banner-row {
	height:90px;
	width: 100%;
	background: url(../images/common/index_header_bg.png) repeat-x;
	position: relative;
}
.home-header {
	width: 1024px;
	height: 50px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -512px;
}
.banner-logo {
	float:left;
	position:relative;
	top:3px;
	padding-right: 10px;
}
.banner-title {
	float:left;
	position:relative;
	top:3px;
}
.banner-toolbar {
	float:right;
}
.banner-user {
	float:left;
	margin-top: 15px;
	padding-right: 30px;
}
.banner-user>a {
}
.banner-buttons {
	float:left;
}
.top-button {
	float:left;
	height: 50px;
	width: 45px;
	margin: 0 10px;
}
.top-button>div{
	position:relative;
	top:33px;
}

#deskcontainer {
	margin: 0px auto 0 auto;
	width:1024px;
}
#mainmenu {
	float:left;
	width: 618px;
	height: 500px;
}
.menu-box {
 	background-color: #f5f5f5;
	/*background:url(../images/common/menu_box_bg.jpg) 50% 100% no-repeat;*/
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5m;
	-webkit-box-shadow: 0 5px 5px #729e02;
	-moz-box-shadow: 0 5px 5px #729e02;
	box-shadow: 0 5px 5px #729e02;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#729e02, Strength=5, Direction=180);
}
.menu-box-left {
}
.menu-box-center {
	border-left: thin solid #729e02;
	border-right: thin solid #729e02;
}
.menu-box-middle {
	border-top: thin solid #729e02;
	border-bottom: thin solid #729e02;
}
.global_function {
	background-position: center 27px;
	background-repeat: no-repeat;
	width: 205px;
	*width: 204px;
	height:166px;
	float: left;
	*background-color: #f5f5f5;
	text-align: center;
}
.global_function:hover {
	background-position: center 27px;
	background-repeat: no-repeat;
	width: 205px;
	*width: 204px;
	height:166px;
	float: left;
	background-color: #eee;
	text-align: center;

}
.global_function>.font1 {
	font-size: 18px;
	font-weight:bold;
	color:#515151;
	position: relative;
	top: 120px;
}
#portlets {
	float: right;
}
.clear-both {
	clear: both;
}

#tp1{
	width:100%;
	height: 100%;
	background: url(../images/common/index_tp1.png) 50% 50% no-repeat;
}
#tp2{
	width:100%;
	height: 100%;
	background: url(../images/common/index_tp2.png) 50% 50% no-repeat;
}
.gn1{
	background-image:url(../images/common/index_ywbl.png);
}
.gn2{
	background-image:url(../images/common/index_shbzk.png);
}
.gn3{
	background-image:url(../images/common/inedx_xxcx.png);
}
.gn4{
	background-image:url(../images/common/index_fwjg.png);
}
.gn5{
	background-image:url(../images/common/index_zpfw.png);
}
.gn6{
	background-image:url(../images/common/index_fzgj.png);
}
.qrcode-container {
	margin: 0 auto;
	width: 130px;
	height: 130px;
	position: relative;
	top: 50%;
	margin-top: -75px;
	color: #729e02;
	font-weight: bold;
}
.qrcode-img {
	height: 130px;
	background: url(../images/common/qrcode_130.png) 50% 50% no-repeat;
}

.portlet {
	width: 385px;
	min-height: 100px;
	border: 1px solid #c6c6c6;
	border-radius: .3em;
	overflow: hidden;
}
#portlet-info {
	min-height: 90px;
}
.portlet-next {
	margin-top: 10px;
}
.portlet-head {
	height: 46px;
	width: 100%;
	line-height: 46px;
	background: url(../images/common/portlet_head.png) repeat-x;
}
.portlet-title {
	height: 100%;
	height: 45px;
	background: url(../images/common/portlet_title.png) repeat-x;
	padding: 0 25px;
	float:left;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	font-weight: bold;
/* 	border-top-right-radius: .3em; */
	overflow: hidden;
}
.portlet-more {
	float:right;
	padding-right: 10px;
	color: #729e02;
}
.portlet-content {
	margin: 5px;
	height: 90px;
}

li.msg-item {
	height:22px;
	background-image:url(../images/common/portlet-item-icon.png);
	background-repeat: no-repeat;
	background-position: 20px;
	text-align:left;
	padding-left: 35px;
	padding-top:3px;
	padding-bottom:3px;
	cursor: pointer;
	overflow:hidden;
}
li.msg-item>a {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	display:inline-block;
	text-overflow: ellipsis;
	width: 340px;
}

.links {
	padding: 10px 0;
	border: 1px solid #c6c6c6;
	border-radius: .5em;
	margin-top: 30px;
	position: relative;
	clear: both;
	display: inline-block\9;
	width: 100%\9;
}
.links-title {
	background-color: #fff;
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	top: -10px;
}
.links>span {
	padding: 0 15px;
	border-right: 1px solid #e5e5e5;
}

.links>span.last {
	border-right: none;
}
footer {
	padding: 20px 0;
}
footer>.about, footer>.copyright {
	padding: 10px 0 0 0;
	text-align: center;
}

.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox .custom-combobox-input {
	margin: 0;
	width: 170px;
	background-color: #ffffff;
	background-image: none;
	color: #515151;
	font-weight: normal;
}

.ui-autocomplete {
	max-height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}

table.bordered select {
	width: 207px;
	height: 31px;
	padding-left: 5px;
	text-align:left;
}

.ui-menu .ui-menu-item {
	text-align: left;
}

table.query-tb {
	background-color: #f9f9f9;
	width: 100%;
	margin:15px 0;
}
table.query-tb td {
	padding-top:4px;
	padding-bottom:4px;
}
.button-div {
	text-align:center;
}
table.query-tb .query-button {
	width: 65px;
}
table.query-tb input {
	width: 170px;
}
table.query-tb input.long-input {
	width: 300px;
}
table.query-tb .custom-combobox-input {
	width: 137px;
}
#coming-soon {
	width: 1024px;
	height: 420px;
	background: url(../images/common/coming_soon.png) center center no-repeat;
}
input:required{
	background-color: #F79A95;
}
/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/common/icon_right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/common/icon_error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/common/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}

/* 处理 jqgrid 的一些显示问题 */
.ui-jqgrid tr.jqgrow td {
	white-space: nowrap;
}

#tablescrolling_right {
	width: 80%;
}

.overflow {
	height: 200px;
}

#tips {
	margin: 10px;
}
#tips ol {
	margin: 5px 0;
	padding-left: 40px;
}

/* 以下几个影响默认的 jquery ui dialog 样式 */
.sys-dialog .ui-dialog-buttonpane {
	padding-right: .4em;
}
.sys-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
	text-align: center;
}
.sys-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
	margin-left: .4em;
}
.sys-dialog .ui-dialog-titlebar-close {
	display: none;
}
#loginmsg {
	text-align: center;
}

#loginsuccess {
	text-align: center;
}

#cue {
	margin: 5px auto 5px auto;
	width:700px;
}

#message {
	width: 1024px;
	height: 420px;
	background: url(../images/common/coming_soon.png) center center no-repeat;
}
